body {
  background: url(/images/starsWars\ background.jpg);
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
}
.content-container {
  border: solid 3px #ffe81f;
  margin-top: 5rem;
  margin-bottom: 50rem;
}
.card {
  border: solid 3px #ffe81f;
  background-color: transparent !important;
  cursor: pointer;
}

.btn {
  color: #0a0a0a;
  background-color: #b84509 !important;
}
.navbar {
  background-color: #ffe81f;
}
.active{
    -webkit-box-shadow: 2px 7px 30px 19px rgba(255,232,31,1);
    -moz-box-shadow: 2px 7px 30px 19px rgba(255,232,31,1);
    box-shadow: 2px 7px 30px 19px rgba(255,232,31,1);
    border:  solid 3px #b84509;
}

.hovered{
    -webkit-box-shadow: 2px 7px 30px 19px rgba(184,69,9,1);
    -moz-box-shadow: 2px 7px 30px 19px rgba(184,69,9,1);
    box-shadow: 2px 7px 30px 19px rgba(184,69,9,1);
}

#selector{
    opacity: 1;
    
}
#stage2{
  opacity: 1;
}

.fighting-container{
  width: 80%;
  margin: 5rem auto; 
  justify-content: space-between;
}
.card-fighters{
  width: 40%;
  border: solid 3px #ffe81f;

}
.card-fighter-title{
  padding: 2rem;
}

.card-result{
  width: 60%;
  margin: 3rem auto 0;
}

/* breakpoints
lg > 920x
md > 768px
sm > 576px
xs < 576px
*/


/* Media queries section */
/* large screens*/
@media(min-width: 920px){
  .card{
    margin: 1rem 1.5rem;
  }
}

/* medium screens*/
@media(min-width: 768px) and (max-width: 919px){
  .content-container {
    margin-top: 5rem;
  }
  .card{
    margin: 1rem 1.5rem;
  }
}

/* small screens */
@media(min-width: 576px) and (max-width: 767px){
  .content-container {
    margin-top: 3rem;
  }
  .card{
    width: 35%;
    height: 180px;
    margin: 2rem 1.5rem 0;
  }
}

/* exxtra small screens */
@media(max-width: 575px){
  .content-container {
    margin-top: 3rem;
  }
  .card{
    width: 55%;
    margin: 2rem auto;
  }
}